In [2]:
from data_processing import Sparkinit
from data_setup.configuracoes import formatar_sql
from pyspark.sql.types import StructType, StructField, TimestampType, LongType, StringType, DecimalType, BinaryType
spark_start = Sparkinit()

spark = spark_start.buscar_sessao_spark()

print(f"WebUI SparkJobs: {spark.sparkContext.uiWebUrl}")
spark.getActiveSession()

WebUI SparkJobs: http://BHS-NOTE188:4040

# Vendas

In [5]:
import os
# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\transient\VENDAS"))

dados.printSchema()

dados.show(n=1, vertical=True)
dados.columns

root
 |-- d_dt_vd: timestamp (nullable = true)
 |-- n_id_fil: long (nullable = true)
 |-- n_id_vd_fil: long (nullable = true)
 |-- v_cli_cod: string (nullable = true)
 |-- n_vlr_tot_vd: decimal(18,6) (nullable = true)
 |-- n_vlr_tot_desc: decimal(14,4) (nullable = true)
 |-- v_cpn_eml: string (nullable = true)
 |-- tp_pgt: string (nullable = true)

-RECORD 0------------------------------
 d_dt_vd        | 2023-10-12 21:00:00
 n_id_fil       | 2356284
 n_id_vd_fil    | 34366442231
 v_cli_cod      | 016E6FCC4F98832719BC
 n_vlr_tot_vd   | 55.960000
 n_vlr_tot_desc | 13.9900
 v_cpn_eml      | NAO
 tp_pgt         | A VISTA
only showing top 1 row

['d_dt_vd',
 'n_id_fil',
 'n_id_vd_fil',
 'v_cli_cod',
 'n_vlr_tot_vd',
 'n_vlr_tot_desc',
 'v_cpn_eml',
 'tp_pgt']

In [6]:
# Criando a tabela temporária e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("vendas_tmp")

query = formatar_sql("""SELECT 
    COALESCE(date_format(vt.d_dt_vd, 'yyyy-MM-dd HH:mm:ss'), NULL) AS data_emissao,
    CAST(vt.n_id_fil AS BIGINT) AS codigo_filial,
    CAST(vt.n_id_vd_fil AS BIGINT) AS id_venda_filial,
    COALESCE(CAST(vt.v_cli_cod AS STRING), '') AS codigo_cliente,
    CAST(vt.n_vlr_tot_vd AS DECIMAL(38, 2)) AS valor_total_venda,
    CAST(vt.n_vlr_tot_desc AS DECIMAL(38, 2)) AS valor_total_desconto,
    CASE 
        WHEN vt.v_cpn_eml  = 'SIM' THEN True
        ELSE False
    END AS enviado_email,
    COALESCE(CAST(vt.tp_pgt AS STRING), '') AS tipo_pagamento
FROM vendas_tmp as vt""")

spark.sql(query).show()

+-------------------+-------------+---------------+--------------------+-----------------+--------------------+-------------+--------------+
|       data_emissao|codigo_filial|id_venda_filial|      codigo_cliente|valor_total_venda|valor_total_desconto|enviado_email|tipo_pagamento|
+-------------------+-------------+---------------+--------------------+-----------------+--------------------+-------------+--------------+
|2023-10-12 21:00:00|      2356284|    34366442231|016E6FCC4F98832719BC|            55.96|               13.99|        false|       A VISTA|
|2023-10-12 21:00:00|      2221184|    35550863931|035D148EADC74B6C6D2F|            31.48|               25.21|        false|              |
|2023-10-27 21:00:00|      2188984|    37392732531|030C1011214A3317E850|             6.49|               13.14|        false|       A VISTA|
|2023-10-08 21:00:00|      2608284|     3672652731|04710AFAF1FD9C48EBC3|            52.99|               40.27|        false|              |
|2023-10-09 21:00:00|       238084|    37059405031|028DBA5BBB05DDF47E4C|            18.54|                8.38|        false|       A VISTA|
|2023-10-23 21:00:00|      2687384|      403806931|012F0A4B6592C311F2ED|            31.90|                5.09|         true|              |
|2023-10-17 21:00:00|      2617384|     4392793031|0316E487B4F1B6831BA3|           655.26|              259.95|        false|       A VISTA|
|2023-10-05 21:00:00|      2352784|     3967276731|052A34441AD2AE1DFD94|            36.98|                0.00|        false|              |
|2023-10-29 21:00:00|      2642584|     3422446731|001EC0D3A64CF4F6C941|            93.47|               45.63|        false|       A VISTA|
|2023-10-25 21:00:00|      2620184|     3808200231|03755F35E240B8451322|            70.92|               18.91|        false|              |
|2023-10-19 21:00:00|      2198784|    35494168831|0516882260A1031D8719|            27.98|                0.00|         true|              |
|2023-10-11 21:00:00|      2186184|    36834033731|028D5FE319C8C62D4BFC|            17.98|                1.56|        false|       A VISTA|
|2023-10-21 21:00:00|      2631384|     3541135631|03A4F193268E48C0D124|            47.02|                5.13|         true|       A VISTA|
|2023-10-29 21:00:00|      2367484|     4267716431|05191F65ECBA674435B7|             7.98|               36.68|        false|              |
|2023-10-08 21:00:00|       259084|    35445273831|009ED5A72E6053182284|           147.93|               46.00|        false|              |
|2023-10-22 21:00:00|      2198784|    35494845331|0477E33A9B918C7769EF|            87.85|                0.50|        false|       A VISTA|
|2023-10-30 21:00:00|       275884|    36185562831|024DCAF27751A0A07A08|            44.69|                2.51|        false|       A VISTA|
|2023-10-18 21:00:00|      2188284|    36436975531|04D97DB0EC3122A68972|            26.39|               15.29|        false|       A VISTA|
|2023-10-19 21:00:00|      2440984|     4398824331|011016FEF0EE6346E786|            83.91|               25.78|         true|       A VISTA|
|2023-10-22 21:00:00|      2648884|     3497829731|0194D2BC60AF2468C836|            40.45|                9.45|        false|       A PRAZO|
+-------------------+-------------+---------------+--------------------+-----------------+--------------------+-------------+--------------+
only showing top 20 rows

# Pedidos

In [11]:
import os
# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\transient\PEDIDOS"))

dados.printSchema()

dados.show(n=1, vertical=True)
dados.columns

root
 |-- n_id_pdd: long (nullable = true)
 |-- d_dt_eft_pdd: date (nullable = true)
 |-- d_dt_entr_pdd: timestamp (nullable = true)
 |-- v_cnl_orig_pdd: string (nullable = true)
 |-- v_uf_entr_pdd: string (nullable = true)
 |-- v_lc_ent_pdd: string (nullable = true)
 |-- n_vlr_tot_pdd: decimal(38,2) (nullable = true)

-RECORD 0-----------------------------
 n_id_pdd       | 1187021679777
 d_dt_eft_pdd   | 2023-09-13
 d_dt_entr_pdd  | 2023-09-13 21:49:15
 v_cnl_orig_pdd | L
 v_uf_entr_pdd  | RS
 v_lc_ent_pdd   | VIAMAO
 n_vlr_tot_pdd  | 19.99
only showing top 1 row

['n_id_pdd',
 'd_dt_eft_pdd',
 'd_dt_entr_pdd',
 'v_cnl_orig_pdd',
 'v_uf_entr_pdd',
 'v_lc_ent_pdd',
 'n_vlr_tot_pdd']

In [13]:
# Criando a tabela temporária e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("pedidos_tmp")

query = formatar_sql("""SELECT 
    CAST(pd.n_id_pdd AS BIGINT) AS id_pedido,
    COALESCE(CAST(pd.d_dt_eft_pdd AS DATE), NULL) AS data_realizacao_pedido,
    COALESCE(date_format(pd.d_dt_entr_pdd, 'yyyy-MM-dd HH:mm:ss'), NULL) AS data_entrega,
    CASE 
        WHEN pd.v_cnl_orig_pdd = 'L' THEN 'Loja'
        WHEN pd.v_cnl_orig_pdd = 'A' THEN 'App'
        WHEN pd.v_cnl_orig_pdd = 'S' THEN 'Site'
    END AS canal_origem_pedido,
    COALESCE(CAST(pd.v_uf_entr_pdd AS STRING), '') AS UF_pedido,
    COALESCE(CAST(pd.v_lc_ent_pdd AS STRING), '') AS destino_entrega,
    CAST(pd.n_vlr_tot_pdd AS DECIMAL(38,2)) AS valor_total_pedido
FROM pedidos_tmp as pd""")

spark.sql(query).show()

+-------------+----------------------+-------------------+-------------------+---------+---------------+------------------+
|    id_pedido|data_realizacao_pedido|       data_entrega|canal_origem_pedido|UF_pedido|destino_entrega|valor_total_pedido|
+-------------+----------------------+-------------------+-------------------+---------+---------------+------------------+
|1187021679777|            2023-09-13|2023-09-13 21:49:15|               Loja|       RS|         VIAMAO|             19.99|
|1187888931657|            2023-09-29|2023-09-29 21:11:38|               Loja|       RS|   PORTO ALEGRE|             36.98|
|1187806295857|            2023-09-28|2023-09-28 21:00:10|               Loja|       RS|   PORTO ALEGRE|             29.56|
|1187490058337|            2023-09-22|2023-09-22 20:59:02|               Loja|       RS|   PORTO ALEGRE|             37.97|
|1186976289657|            2023-09-12|2023-09-12 21:40:09|               Loja|       RS|   PORTO ALEGRE|             39.93|
|1187367744477|            2023-09-19|2023-09-19 21:05:09|               Loja|       RS|    SANTA MARIA|             14.89|
|1187489749387|            2023-09-22|2023-09-22 21:02:57|               Loja|       RS|   PORTO ALEGRE|             44.97|
|1186347530157|            2023-09-01|2023-09-01 21:16:04|               Loja|       RS|         CANELA|             21.75|
|1186744280417|            2023-09-08|2023-09-08 21:17:36|               Loja|       RS|  CAXIAS DO SUL|             51.48|
|1187439836017|            2023-09-21|2023-09-21 21:05:30|               Loja|       RS|     URUGUAIANA|             35.99|
|1186315504067|            2023-09-01|2023-09-01 21:19:05|               Loja|       RS|    SANTA MARIA|              9.97|
|1186571878177|            2023-09-05|2023-09-05 22:22:53|               Loja|       RS|     URUGUAIANA|             37.58|
|1186506325647|            2023-09-04|2023-09-04 21:48:40|               Loja|       RS|         CANOAS|              9.98|
|1187439694307|            2023-09-21|2023-09-21 21:08:01|               Loja|       RS|         GUAIBA|             23.97|
|1187371253557|            2023-09-19|2023-09-19 20:58:54|               Loja|       RS|   PORTO ALEGRE|             22.47|
|1187092744197|            2023-09-14|2023-09-14 21:49:46|               Loja|       RS|  NOVO HAMBURGO|            391.94|
|1187191044317|            2023-09-16|2023-09-16 21:10:45|               Loja|       RS|   PORTO ALEGRE|             38.97|
|1187371202497|            2023-09-19|2023-09-19 21:07:40|               Loja|       RS| CAPAO DA CANOA|             44.35|
|1187516368667|            2023-09-22|2023-09-22 21:04:15|               Loja|       RS|   PORTO ALEGRE|             85.64|
|1187486534087|            2023-09-21|2023-09-22 21:11:24|               Loja|       RS|   PORTO ALEGRE|              3.79|
+-------------+----------------------+-------------------+-------------------+---------+---------------+------------------+
only showing top 20 rows

# Pedidos Vendas

In [14]:
import os
# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\transient\PEDIDO_VENDA"))

dados.printSchema()

dados.show(n=1, vertical=True)
dados.columns

root
 |-- n_id_fil: long (nullable = true)
 |-- n_id_vd_fil: long (nullable = true)
 |-- n_id_pdd: long (nullable = true)

-RECORD 0--------------------
 n_id_fil    | 2408784
 n_id_vd_fil | 34262326131
 n_id_pdd    | 1189183932027
only showing top 1 row

['n_id_fil', 'n_id_vd_fil', 'n_id_pdd']

In [16]:
# Criando a tabela temporária e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("pedido_venda_tmp")

query = formatar_sql("""SELECT 
    CAST(pv.n_id_fil AS BIGINT) AS codigo_filial,
    CAST(pv.n_id_vd_fil AS BIGINT) AS id_venda_filial,
    CAST(pv.n_id_pdd AS BIGINT) AS id_pedido
FROM pedido_venda_tmp as pv""")

spark.sql(query).show()

+-------------+---------------+-------------+
|codigo_filial|id_venda_filial|    id_pedido|
+-------------+---------------+-------------+
|      2408784|    34262326131|1189183932027|
|       242984|    35434048331|1189596350677|
|      2657984|     3474198431|1192614919827|
|      2517984|      409543431|1188810414807|
|      2457084|     4339980931|1192522099777|
|       229684|    35465235531|1188385018407|
|      2620184|     3789478231|1187171860557|
|      2174984|    35255133331|1186640698547|
|      2662184|     3752751431|1188256482257|
|       249284|    35437182231|1185665835127|
|      2626484|     3573693431|1192236782787|
|      2462684|    34129728831|1193157735357|
|      2471784|     4054827931|1191233879657|
|      2310784|    34374246731|1187244935557|
|      2453584|    34547578131|1184629304547|
|      2593584|     4082528131|1184834489897|
|       236684|    39168868431|1191362606727|
|      2454284|    34532390431|1193198429067|
|      2480184|     3964413431|1186700409887|
|      2362584|     3865283631|1187801635707|
+-------------+---------------+-------------+
only showing top 20 rows