In [1]:
from jobs import Sparkinit
from json import dump, dumps
from utils import formatar_sql
spark_start = Sparkinit()
import os
spark = spark_start.buscar_sessao_spark()

print(f"WebUI SparkJobs: {spark.sparkContext.uiWebUrl}")
spark.getActiveSession()

WebUI SparkJobs: http://BHS-NOTE188:4040

# Vendas

In [2]:
import os
# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
path = os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\camada_0_transient\VENDAS")
dados = spark.read.format("parquet").load(path)

dados.printSchema()

dados.show(n=1, vertical=True)
colunas = ',\n\t'.join(dados.columns)

base = [f'CAST({col} AS STRING)' for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final

f"""/* 'Bronze' */
SELECT 
        {colunas},
        {base_final}
FROM vendas_tmp
"""

root
 |-- d_dt_vd: timestamp (nullable = true)
 |-- n_id_fil: long (nullable = true)
 |-- n_id_vd_fil: long (nullable = true)
 |-- v_cli_cod: string (nullable = true)
 |-- n_vlr_tot_vd: decimal(18,6) (nullable = true)
 |-- n_vlr_tot_desc: decimal(14,4) (nullable = true)
 |-- v_cpn_eml: string (nullable = true)
 |-- tp_pgt: string (nullable = true)

-RECORD 0------------------------------
 d_dt_vd        | 2023-10-12 21:00:00
 n_id_fil       | 2356284
 n_id_vd_fil    | 34366442231
 v_cli_cod      | 016E6FCC4F98832719BC
 n_vlr_tot_vd   | 55.960000
 n_vlr_tot_desc | 13.9900
 v_cpn_eml      | NAO
 tp_pgt         | A VISTA
only showing top 1 row

"/* 'Bronze' */\nSELECT \n        d_dt_vd,\n\tn_id_fil,\n\tn_id_vd_fil,\n\tv_cli_cod,\n\tn_vlr_tot_vd,\n\tn_vlr_tot_desc,\n\tv_cpn_eml,\n\ttp_pgt,\n        BASE64(CONCAT(CAST(d_dt_vd AS STRING) , CAST(n_id_fil AS STRING) , CAST(n_id_vd_fil AS STRING) , CAST(v_cli_cod AS STRING) , CAST(n_vlr_tot_vd AS STRING) , CAST(n_vlr_tot_desc AS STRING) , CAST(v_cpn_eml AS STRING) , CAST(tp_pgt AS STRING))) AS hash_id\nFROM vendas_tmp\n"

In [3]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("vendas_tmp")

query = formatar_sql("""/* 'Silver' */
SELECT 
    COALESCE(date_format(vt.d_dt_vd, 'yyyy-MM-dd HH:mm:ss'), '') AS data_emissao,
    CAST(vt.n_id_fil AS BIGINT) AS codigo_filial,
    CAST(vt.n_id_vd_fil AS BIGINT) AS id_venda_filial,
    COALESCE(CAST(vt.v_cli_cod AS STRING), '') AS codigo_cliente,
    CAST(vt.n_vlr_tot_vd AS DECIMAL(38, 2)) AS valor_total_venda,
    CAST(vt.n_vlr_tot_desc AS DECIMAL(38, 2)) AS valor_total_desconto,
    CASE 
        WHEN vt.v_cpn_eml  = 'SIM' THEN True
        ELSE False
    END AS enviado_email,
    COALESCE(CAST(vt.tp_pgt AS STRING), '') AS tipo_pagamento
    
FROM vendas_tmp as vt""")

spark.sql(query).show()
query

+-------------------+-------------+---------------+--------------------+-----------------+--------------------+-------------+--------------+
|       data_emissao|codigo_filial|id_venda_filial|      codigo_cliente|valor_total_venda|valor_total_desconto|enviado_email|tipo_pagamento|
+-------------------+-------------+---------------+--------------------+-----------------+--------------------+-------------+--------------+
|2023-10-12 21:00:00|      2356284|    34366442231|016E6FCC4F98832719BC|            55.96|               13.99|        false|       A VISTA|
|2023-10-12 21:00:00|      2221184|    35550863931|035D148EADC74B6C6D2F|            31.48|               25.21|        false|              |
|2023-10-27 21:00:00|      2188984|    37392732531|030C1011214A3317E850|             6.49|               13.14|        false|       A VISTA|
|2023-10-08 21:00:00|      2608284|     3672652731|04710AFAF1FD9C48EBC3|            52.99|               40.27|        false|              |
|2023-10-09 21:00:00|       238084|    37059405031|028DBA5BBB05DDF47E4C|            18.54|                8.38|        false|       A VISTA|
|2023-10-23 21:00:00|      2687384|      403806931|012F0A4B6592C311F2ED|            31.90|                5.09|         true|              |
|2023-10-17 21:00:00|      2617384|     4392793031|0316E487B4F1B6831BA3|           655.26|              259.95|        false|       A VISTA|
|2023-10-05 21:00:00|      2352784|     3967276731|052A34441AD2AE1DFD94|            36.98|                0.00|        false|              |
|2023-10-29 21:00:00|      2642584|     3422446731|001EC0D3A64CF4F6C941|            93.47|               45.63|        false|       A VISTA|
|2023-10-25 21:00:00|      2620184|     3808200231|03755F35E240B8451322|            70.92|               18.91|        false|              |
|2023-10-19 21:00:00|      2198784|    35494168831|0516882260A1031D8719|            27.98|                0.00|         true|              |
|2023-10-11 21:00:00|      2186184|    36834033731|028D5FE319C8C62D4BFC|            17.98|                1.56|        false|       A VISTA|
|2023-10-21 21:00:00|      2631384|     3541135631|03A4F193268E48C0D124|            47.02|                5.13|         true|       A VISTA|
|2023-10-29 21:00:00|      2367484|     4267716431|05191F65ECBA674435B7|             7.98|               36.68|        false|              |
|2023-10-08 21:00:00|       259084|    35445273831|009ED5A72E6053182284|           147.93|               46.00|        false|              |
|2023-10-22 21:00:00|      2198784|    35494845331|0477E33A9B918C7769EF|            87.85|                0.50|        false|       A VISTA|
|2023-10-30 21:00:00|       275884|    36185562831|024DCAF27751A0A07A08|            44.69|                2.51|        false|       A VISTA|
|2023-10-18 21:00:00|      2188284|    36436975531|04D97DB0EC3122A68972|            26.39|               15.29|        false|       A VISTA|
|2023-10-19 21:00:00|      2440984|     4398824331|011016FEF0EE6346E786|            83.91|               25.78|         true|       A VISTA|
|2023-10-22 21:00:00|      2648884|     3497829731|0194D2BC60AF2468C836|            40.45|                9.45|        false|       A PRAZO|
+-------------------+-------------+---------------+--------------------+-----------------+--------------------+-------------+--------------+
only showing top 20 rows

"/* 'Silver' */\nSELECT COALESCE(date_format(vt.d_dt_vd, 'yyyy-MM-dd HH:mm:ss'), '') AS data_emissao,\n       CAST(vt.n_id_fil AS BIGINT) AS codigo_filial,\n       CAST(vt.n_id_vd_fil AS BIGINT) AS id_venda_filial,\n       COALESCE(CAST(vt.v_cli_cod AS STRING), '') AS codigo_cliente,\n       CAST(vt.n_vlr_tot_vd AS DECIMAL(38, 2)) AS valor_total_venda,\n       CAST(vt.n_vlr_tot_desc AS DECIMAL(38, 2)) AS valor_total_desconto,\n       CASE\n           WHEN vt.v_cpn_eml = 'SIM' THEN TRUE\n           ELSE FALSE\n       END AS enviado_email,\n       COALESCE(CAST(vt.tp_pgt AS STRING), '') AS tipo_pagamento\nFROM vendas_tmp AS vt"

# Pedidos

In [4]:

# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\camada_0_transient\PEDIDOS"))

dados.printSchema()

dados.show(n=1, vertical=True)
colunas = ',\n\t'.join(dados.columns)
base = [f'CAST({col} AS STRING)' for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final

f"""/* 'Bronze' */
SELECT 
        {colunas}, 
        {base_final}
FROM pedidos_tmp
"""

root
 |-- n_id_pdd: long (nullable = true)
 |-- d_dt_eft_pdd: date (nullable = true)
 |-- d_dt_entr_pdd: timestamp (nullable = true)
 |-- v_cnl_orig_pdd: string (nullable = true)
 |-- v_uf_entr_pdd: string (nullable = true)
 |-- v_lc_ent_pdd: string (nullable = true)
 |-- n_vlr_tot_pdd: decimal(38,2) (nullable = true)

-RECORD 0-----------------------------
 n_id_pdd       | 1187021679777
 d_dt_eft_pdd   | 2023-09-13
 d_dt_entr_pdd  | 2023-09-13 21:49:15
 v_cnl_orig_pdd | L
 v_uf_entr_pdd  | RS
 v_lc_ent_pdd   | VIAMAO
 n_vlr_tot_pdd  | 19.99
only showing top 1 row

"/* 'Bronze' */\nSELECT \n        n_id_pdd,\n\td_dt_eft_pdd,\n\td_dt_entr_pdd,\n\tv_cnl_orig_pdd,\n\tv_uf_entr_pdd,\n\tv_lc_ent_pdd,\n\tn_vlr_tot_pdd, \n        BASE64(CONCAT(CAST(n_id_pdd AS STRING) , CAST(d_dt_eft_pdd AS STRING) , CAST(d_dt_entr_pdd AS STRING) , CAST(v_cnl_orig_pdd AS STRING) , CAST(v_uf_entr_pdd AS STRING) , CAST(v_lc_ent_pdd AS STRING) , CAST(n_vlr_tot_pdd AS STRING))) AS hash_id\nFROM pedidos_tmp\n"

In [5]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("pedidos_tmp")

query = formatar_sql("""/* 'Silver' */
SELECT 
    CAST(pd.n_id_pdd AS BIGINT) AS id_pedido,
    COALESCE(CAST(pd.d_dt_eft_pdd AS DATE), '') AS data_realizacao_pedido,
    COALESCE(date_format(pd.d_dt_entr_pdd, 'yyyy-MM-dd HH:mm:ss'), '') AS data_entrega,
    CASE 
        WHEN pd.v_cnl_orig_pdd = 'L' THEN 'Loja'
        WHEN pd.v_cnl_orig_pdd = 'A' THEN 'App'
        WHEN pd.v_cnl_orig_pdd = 'S' THEN 'Site'
    END AS canal_venda,
    COALESCE(CAST(pd.v_uf_entr_pdd AS STRING), '') AS UF_pedido,
    COALESCE(CAST(pd.v_lc_ent_pdd AS STRING), '') AS cidade_entrega,
    CAST(pd.n_vlr_tot_pdd AS DECIMAL(38,2)) AS valor_total_pedido
    BASE64(CAST(n_id_pdd AS STRING)) AS hash_id
FROM pedidos_tmp as pd""")

spark.sql(query).show()
query

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'BASE64'.(line 12, pos 70)

== SQL ==
/* 'Silver' */
SELECT CAST(pd.n_id_pdd AS BIGINT) AS id_pedido,
       COALESCE(CAST(pd.d_dt_eft_pdd AS DATE), '') AS data_realizacao_pedido,
       COALESCE(date_format(pd.d_dt_entr_pdd, 'yyyy-MM-dd HH:mm:ss'), '') AS data_entrega,
       CASE
           WHEN pd.v_cnl_orig_pdd = 'L' THEN 'Loja'
           WHEN pd.v_cnl_orig_pdd = 'A' THEN 'App'
           WHEN pd.v_cnl_orig_pdd = 'S' THEN 'Site'
       END AS canal_venda,
       COALESCE(CAST(pd.v_uf_entr_pdd AS STRING), '') AS UF_pedido,
       COALESCE(CAST(pd.v_lc_ent_pdd AS STRING), '') AS cidade_entrega,
       CAST(pd.n_vlr_tot_pdd AS DECIMAL(38, 2)) AS valor_total_pedido BASE64(CAST(n_id_pdd AS STRING)) AS hash_id
----------------------------------------------------------------------^^^
FROM pedidos_tmp AS pd

# Pedidos Vendas

In [ ]:

# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\camada_0_transient\PEDIDO_VENDA"))

dados.printSchema()

dados.show(n=1, vertical=True)
colunas = ',\n\t'.join(dados.columns)
base = [f'CAST({col} AS STRING)' for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final
f"""/* 'Bronze' */
SELECT 
        {colunas},
        {base_final} 
FROM pedido_venda_tmp
"""

In [ ]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("pedido_venda_tmp")

query = formatar_sql("""/* 'Silver'*/
SELECT 
    CAST(pv.n_id_fil AS BIGINT) AS codigo_filial,
    CAST(pv.n_id_vd_fil AS BIGINT) AS id_venda_filial,
    CAST(pv.n_id_pdd AS BIGINT) AS id_pedido
    BASE64(CONCAT(CAST(n_id_fil AS STRIN), CAST(n_id_vd_fil AS STRING), CAST(n_id_pdd AS STRING))) AS hash_id
FROM pedido_venda_tmp as pv""")



spark.sql(query).show()
query

# Itens Vendas

In [ ]:

# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\camada_0_transient\ITENS_VENDAS"))

dados.printSchema()

dados.show(n=1, vertical=True)
colunas = ',\n\t'.join(dados.columns)
base = [f'CAST({col} AS STRING)' for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final
f"""/* 'Bronze' */
SELECT 
        {colunas},
        {base_final}
FROM itens_vendas_tmp
"""

In [ ]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("itens_vendas_tmp")

query = formatar_sql("""/* 'Silver' */
SELECT 
    CAST(iv.n_id_fil AS BIGINT) AS codigo_filial,
    CAST(iv.n_id_vd_fil AS BIGINT) AS id_venda_filial,
    CAST(iv.n_id_it AS BIGINT) AS codigo_item_venda,
    CASE 
        WHEN iv.v_rc_elt  = 'SIM' THEN True
        ELSE False
    END AS com_receita_eletronica,
    CASE 
        WHEN iv.v_it_vd_conv = 'SIM' THEN 'Conv√™nio'
        WHEN iv.v_it_vd_conv = 'NAO' AND iv.n_vlr_desc > 0 THEN 'Promo√ß√£o'
        ELSE 'Sem Desconto'
    END AS tipo_desconto,
    CAST(iv.n_vlr_pis AS DECIMAL(38,2)) AS valor_pis_item,
    CAST(iv.n_vlr_vd AS DECIMAL(38,2)) AS valor_final_item,
    CAST(iv.n_vlr_desc AS DECIMAL(38,2)) AS valor_desconto_item,
    CAST(iv.n_qtd AS BIGINT) AS quantidade_itens,
FROM itens_vendas_tmp as iv""")

spark.sql(query).show()
query

# Endere√ßos Clientes

In [ ]:

# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\camada_0_transient\ENDERECOS_CLIENTES"))

dados.printSchema()

dados.show(n=1, vertical=True)
colunas = ',\n\t'.join(dados.columns)
base = [f'CAST({col} AS STRING)' for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final
f"""/* 'Bronze' */
SELECT 
        {colunas},
        {base_final}
FROM enderecos_clientes_tmp
"""

In [ ]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("enderecos_clientes_tmp")

query = formatar_sql("""/* 'Silver' */
SELECT 
    CAST(ec.v_id_cli AS STRING) AS codigo_cliente,
    CAST(ec.n_sq_end AS BIGINT) AS sequencia_endereco_cliente,
    COALESCE(date_format(ec.d_dt_exc, 'yyyy-MM-dd HH:mm:ss'), '') AS data_exclusao_endereco,
    CAST(ec.v_lcl AS STRING) AS cidade_endereco,
    CAST(ec.v_uf AS STRING) AS UF_endereco
FROM enderecos_clientes_tmp as ec""")

spark.sql(query).show()
query

# Clientes Opt

In [ ]:
# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.option("multiline","true").format("json").load(os.path.abspath(r"C:\Users\gustavo.lopes\Documentos\GitHub\desafio_panvel-data_engineer\datalake\camada_0_transient\CLIENTES_OPT"))

dados.printSchema()

dados.show(n=2, vertical=True)
colunas = ',\n\t'.join(dados.columns)
base = ['CAST({} AS STRING)'.format(col) for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final
f"""/* 'Bronze' */
SELECT 
        {colunas},
        {base_final}
FROM clientes_opt_tmp"""

In [ ]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("clientes_opt_tmp")

query = formatar_sql("""/* 'Silver' */
SELECT 
    CAST(co.v_id_cli AS STRING) AS codigo_cliente,
    CASE 
        WHEN co.b_push  = True THEN 'SIM'
        WHEN co.b_push  = False THEN 'N√ÉO'
        ELSE ''
    END AS autoriza_notificacao_push,
    CASE 
        WHEN co.b_sms  = True THEN 'SIM'
        WHEN co.b_sms  = False THEN 'N√ÉO'
        ELSE ''
    END AS autoriza_notificacao_sms,
    CASE 
        WHEN co.b_email  = True THEN 'SIM'
        WHEN co.b_email  = False THEN 'N√ÉO'
        ELSE ''
    END AS autoriza_notificacao_email,
    CASE 
        WHEN co.b_call  = True THEN 'SIM'
        WHEN co.b_call  = False THEN 'N√ÉO'
        ELSE ''
    END AS autoriza_notificacao_ligacao
FROM clientes_opt_tmp as co""")

spark.sql(query).show()
query

# Clientes

In [ ]:
# Carregando o dataframe para verificar a estrutura das colunas e tipos de dados
dados = spark.read.format("parquet").load(os.path.abspath(os.path.join(os.getcwd(), "datalake/camada_0_transient/CLIENTES")))

dados.printSchema()

dados.show(n=1, vertical=True)
colunas = ',\n\t'.join(dados.columns)
base = ['CAST({} AS STRING)'.format(col) for col in dados.columns]
base_media = ' , '.join(base)
base_final = f"BASE64(CONCAT({base_media})) AS hash_id"
base_final
print(dumps(f"""/* 'Bronze' */
SELECT 
        {colunas},
        {base_final}
FROM clientes_tmp"""))

root
 |-- v_id_cli: string (nullable = true)
 |-- d_dt_nasc: date (nullable = true)
 |-- v_sx_cli: string (nullable = true)
 |-- n_est_cvl: string (nullable = true)

-RECORD 0-------------------------
 v_id_cli  | 0000009DB36F622B7639
 d_dt_nasc | 2003-11-14
 v_sx_cli  | F
 n_est_cvl | null
only showing top 1 row

"/* 'Bronze' */\nSELECT \n        v_id_cli,\n\td_dt_nasc,\n\tv_sx_cli,\n\tn_est_cvl,\n        BASE64(CONCAT(CAST(v_id_cli AS STRING) , CAST(d_dt_nasc AS STRING) , CAST(v_sx_cli AS STRING) , CAST(n_est_cvl AS STRING))) AS hash_id\nFROM clientes_tmp"

In [ ]:
# Criando a tabela tempor√°ria e realizando a consulta que depois usaremos para transformar a camada raw
dados.createOrReplaceTempView("clientes_tmp")

query = formatar_sql("""/* 'Silver' */
SELECT 
    CAST(c.v_id_cli AS STRING) AS codigo_cliente,
    COALESCE(CAST(c.d_dt_nasc AS DATE), '') AS data_nascimento_cliente,
    CAST(DATEDIFF(CURRENT_DATE(), CAST(c.d_dt_nasc AS DATE)) / 365 AS INT) as idade,
    CASE 
        WHEN c.v_sx_cli  = 'F' THEN 'Feminino'
        WHEN c.v_sx_cli  = 'M' THEN 'Masculino'
        ELSE '' 
    END AS genero_biologico_cliente,
    CASE 
        WHEN c.n_est_cvl  = 1 THEN 'Solteiro'
        WHEN c.n_est_cvl  = 2 THEN 'Casado'
        WHEN c.n_est_cvl  = 3 THEN 'Vi√∫vo'
        WHEN c.n_est_cvl  = 4 THEN 'Desquitado'
        WHEN c.n_est_cvl  = 5 THEN 'Divorciado'
        WHEN c.n_est_cvl  = 6 THEN 'Outros'
        ELSE ''
    END AS estado_civil_cliente
FROM clientes_tmp as c""")
spark.sql(query).show()
query

+--------------------+-----------------------+-----+------------------------+--------------------+
|      codigo_cliente|data_nascimento_cliente|idade|genero_biologico_cliente|estado_civil_cliente|
+--------------------+-----------------------+-----+------------------------+--------------------+
|0000009DB36F622B7639|             2003-11-14|   20|                Feminino|                    |
|000000F51C15031D708E|             2008-03-23|   15|                Feminino|                    |
|00000F54BE2BBF0E7B13|             1986-02-24|   37|                Feminino|                    |
|000013E1FB44D9A9E50F|             1984-12-13|   39|               Masculino|                    |
|00001522AD94645C7688|             1992-11-10|   31|                Feminino|              Casado|
|0000161185110EE1BBE5|             1975-12-27|   48|                Feminino|                    |
|0000269BBD1888477D56|             1961-10-25|   62|               Masculino|                    |
|0000289F7EF0375B679D|             1983-11-05|   40|                Feminino|            Solteiro|
|00002A10FB7B5E5CB107|             1991-08-19|   32|               Masculino|                    |
|00002F84FF8B063A952C|             1975-06-13|   48|                Feminino|                    |
|000033354ABAAD3F2FA8|             1964-01-01|   60|                Feminino|            Solteiro|
|00003490C16D52FEB4C2|             2004-03-20|   19|                Feminino|                    |
|000040FC122DB8AEEF51|             1982-04-06|   41|                Feminino|                    |
|000042FA835BDA98ACCE|             1965-05-03|   58|               Masculino|              Casado|
|000046B0542EFC2E550A|             1990-06-02|   33|                Feminino|            Solteiro|
|00004A80EE1AE5324A9E|             1946-05-14|   77|                        |                    |
|00004B9802657262B995|             1996-03-06|   27|                        |                    |
|00004CAACD07633F2C95|             1978-11-26|   45|                Feminino|                    |
|0000524920EA26B08218|             1999-09-14|   24|                        |                    |
|00005651B2086081178C|             1961-06-19|   62|                Feminino|                    |
+--------------------+-----------------------+-----+------------------------+--------------------+
only showing top 20 rows

"/* 'Silver' */\nSELECT CAST(c.v_id_cli AS STRING) AS codigo_cliente,\n       COALESCE(CAST(c.d_dt_nasc AS DATE), '') AS data_nascimento_cliente,\n       CAST(DATEDIFF(CURRENT_DATE(), CAST(c.d_dt_nasc AS DATE)) / 365 AS INT) AS idade,\n       CASE\n           WHEN c.v_sx_cli = 'F' THEN 'Feminino'\n           WHEN c.v_sx_cli = 'M' THEN 'Masculino'\n           ELSE ''\n       END AS genero_biologico_cliente,\n       CASE\n           WHEN c.n_est_cvl = 1 THEN 'Solteiro'\n           WHEN c.n_est_cvl = 2 THEN 'Casado'\n           WHEN c.n_est_cvl = 3 THEN 'Vi√∫vo'\n           WHEN c.n_est_cvl = 4 THEN 'Desquitado'\n           WHEN c.n_est_cvl = 5 THEN 'Divorciado'\n           WHEN c.n_est_cvl = 6 THEN 'Outros'\n           ELSE ''\n       END AS estado_civil_cliente\nFROM clientes_tmp AS c"

In [ ]:
""" -- 'Tabela Endere√ßos Clientes parquet'
SELECT 
    CAST(c.v_id_cli AS STRING) AS codigo_cliente,
    COALESCE(CAST(c.d_dt_nasc AS DATE), '') AS data_nascimento_cliente,
    CASE 
        WHEN c.v_sx_cli  = 'F' THEN 'Feminino'
        WHEN c.v_sx_cli  = 'M' THEN 'Masculino'
        ELSE '' 
    END AS genero_biologico_cliente,
    CASE 
        WHEN c.n_est_cvl  = 1 THEN 'Solteiro'
        WHEN c.n_est_cvl  = 2 THEN 'Casado'
        WHEN c.n_est_cvl  = 3 THEN 'Vi√∫vo'
        WHEN c.n_est_cvl  = 4 THEN 'Desquitado'
        WHEN c.n_est_cvl  = 5 THEN 'Divorciado'
        WHEN c.n_est_cvl  = 6 THEN 'Outros'
        ELSE ''
    END AS estado_civil_cliente
FROM clientes_tmp as c"""

In [ ]:
""" /* Gold 'Vendas' */
SELECT 
    v.codigo_filial AS codifo_filial,
    v.id_venda_filial AS codigo_cupom_venda,
    v.data_emissao AS data_emissao,
    iv.codigo_item_venda AS codigo_item,
    iv.valor_final_item AS valor_unitario,
    iv.quantidade_itens AS quantidade,
    v.codigo_cliente AS codigo_cliente,
    iv.tipo_desconto AS tipo_desconto,
    p.canal_venda AS canal_venda
FROM vendas AS v
INNER JOIN pedido_venda AS pv ON CONCAT(CAST(pv.codigo_filial AS STRING), CAST(pv.id_venda_filial AS STRING)) = CONCAT(CAST(v.codigo_filial AS STRING), CAST(v.id_venda_filial AS STRING))
INNER JOIN itens_vendas AS iv ON CONCAT(CAST(iv.codigo_filial AS STRING), CAST(iv.id_venda_filial)) = CONCAT(CAST(v.codigo_filial AS STRING), CAST(v.id_venda_filial AS STRING))
INNER JOIN pedidos AS p ON p.id_pedido = pv.id_pedido
"""

In [ ]:
print("/* 'Silver' */\nSELECT COALESCE(date_format(vt.d_dt_vd, 'yyyy-MM-dd HH:mm:ss'), '') AS data_emissao,\n       CAST(vt.n_id_fil AS BIGINT) AS codigo_filial,\n       CAST(vt.n_id_vd_fil AS BIGINT) AS id_venda_filial,\n       COALESCE(CAST(vt.v_cli_cod AS STRING), '') AS codigo_cliente,\n       CAST(vt.n_vlr_tot_vd AS DECIMAL(38, 2)) AS valor_total_venda,\n       CAST(vt.n_vlr_tot_desc AS DECIMAL(38, 2)) AS valor_total_desconto,\n       CASE\n           WHEN vt.v_cpn_eml = 'SIM' THEN TRUE\n           ELSE FALSE\n       END AS enviado_email,\n       COALESCE(CAST(vt.tp_pgt AS STRING), '') AS tipo_pagamento, \nhash_id\nFROM vendas_tmp AS vt")

In [ ]:
"""/* Gold 'Clientes' */
SELECT
    c.codigo_cliente AS codigo_cliente,
    c.data_nascimento_cliente AS data_nascimento,
    DATEDIFF('YEAR', CAST(data_nascimento AS DATE), CURRENT_DATE()) as idade,
    c.genero_biologico_cliente AS sexo,
    ec.UF_endereco AS uf,
    ec.cidade_endereco AS cidade,
    c.estado_civil_cliente AS estado_civil,
    co.autoriza_notificacao_ligacao AS flag_lgpd_call,
    co.autoriza_notificacao_sms AS flag_lgpd_sms,
    co.autoriza_notificacao_email AS flag_lgpd_email,
    co.autoriza_notificacao_push AS flag_lgpd_push
FROM clientes AS c
INNER JOIN clientes_opt AS co ON co.codigo_cliente = c.codigo_cliente
INNER JOIN enderecos_clientes AS ec ON ec.codigo_cliente = c.codigo_cliente"""